@model List<Game>
@{
    ViewData["Title"] = "Available Games";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Release Date</th>
            <th>Platform</th>
            <th>Genre</th>
            <th>Publisher</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var game in Model) { 
        <tr>
            <td>@game.GameName</td>
            <td>@game.GameReleaseDate.Value.ToString("MMMM dd, yyyy")</td>
            <td>@game.GamePlatform.PlatformName</td>
            <td>@game.GameGenre.GenreName</td>
            <td>@game.GamePublisher.PublisherName</td>
            <td><a asp-action="Checkout" asp-route-id="@game.GameId" class="btn btn-primary">Checkout</a></td>
        </tr>
        }
    </tbody>
</table>