@{
    Layout = "_Layout";
    ViewData["Title"] = "Nathan Wick";
}

<!-- TODO Style -->

<h2>@ViewData["Title"]</h2>

<p>@ViewData["Email"]</p>
<p>@ViewData["Major"]</p>
<p>@ViewData["Bio"]</p>

@RenderBody()